:root{
  --branding-color:#78420d;
  --branding-background-color:#ef9136;
  --heading-font-family:  'Playfair Display', serif;
  --default-font-family: 'Poppins', sans-serif;
  --secondary-color: radial-gradient(circle, rgba(229,194,40,0.4276304271708683) 0%, rgba(239,145,54,0.5872942927170868) 100%);
}

h1 h2 h3 h4 h5{
  font-family: var(--heading-font-family);
  font-weight: bold;
  
  
}
body{
  font-family: var(--default-font-family);
  
  
}
h1{
  font-size: 96px;
  line-height: 1.5;
  color: var(--branding-color);
}
h2{
  font-size: 64px;

}

p {
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
  color: var(--branding-color);
}

.hero{
  background: var(--secondary-color);
text-align: center;
padding: 160px 20px;
}
.hero p {
  
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  
}
.hero h2{
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
  opacity: 0.8;
  color: var(--branding-color);
  
}
.about-section h1{
font-size: 64px;
line-height: 80px;
}
.about-section{
  padding: 160px 20px;
}
.about-section-content{
  margin: 30px;
}
.about-section h2{
  font-size: 18px;
  font-family: var(--default-font-family);

}
.my-picture{
  margin: 30px;
}
.btn-branding{
  
  background-color: var(--branding-background-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  color: var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding-outline{
   background-color: var(--branding-background-color);
  border-radius: 4px;
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding:hover{
  background-color: var(--branding-color);
  color: var(--branding-background-color);

}
.btn-branding-outline:hover{
  background-color: var(--branding-color);
  color: var(--branding-background-color);

}
.project-description{
padding: 110px 60px;
color: var(--branding-color);
}
@media(max-width:900px) {
  h1{
    font-size: 44px;
    line-height: 56px;
  }
  h2{ font-size: 44px;
    font-size: 44px;
  }
  .hero{
    padding: 80px 20px;
  }
  .project-description{
    padding: 0;
    text-align: center;
  }
  .about-section{
    text-align: center;
    padding: 0;
  }
}
.img-fluid{
 
  height: 560px;
  width: 560px;
}